* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgb(131, 15, 15);
    height: 70px;
    align-items: center;

    & .logo1 {
        & .icon-logo1 {
            width: 60px;
            height: 60px;
            background-image: url("#");
            background-size: cover
        }
    }

    & .logo2 {
        & .icon-logo2 {
            width: 60px;
            height: 60px;
            background-image: url("#");
            background-size: cover
        }
    }

    & .name {

        & h1 {
            color: rgb(255, 255, 255);
            font-size: 2rem;
            font-family: monospace;
            margin: 3 5rem;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        & h6 {
            color: #ffffff;
            font-family: monospace;
            font-size: 0.85rem;
            margin: 3 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    @media screen and (max-width: 700px) {
        flex-direction: column;
        padding: 3rem;
    }

}

.banner {
    height: auto;
    width: 100%;
    background-image: url("https://www.ghibli.jp/gallery/chihiro007.jpg");
    background-position: center;
    background-size: cover;
    padding: 12rem 11.5rem;
    & .banner-Wrapper{
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 30px;
        justify-content: center;
        & .banner2-item1 {
            background-color: #08175a;
            height: 350px;
            width: 200px;
            padding: 1rem 4rem;
            border-radius: 20px;

            & .rov {
                width: 150px;
                height: 150px;
                background-size: cover;
                border-radius: 15px;
                padding: 0rem 0rem;
                margin: 5rem -2.5rem;
                background-position: center;
                background-image: url("https://i.pinimg.com/564x/e9/c6/70/e9c67047adaf44cb10aed191762c66f1.jpg")
            }
        }

        & .banner2-item2 {
            background-color: #9104ad;
            height: 350px;
            width: 200px;
            border-radius: 20px;
            padding: 1rem 4rem;

            & .stardew {
                width: 150px;
                height: 150px;
                background-size: cover;
                border-radius: 15px;
                padding: 0rem 0rem;
                margin: 5rem -2.5rem;
                background-position: center;
                background-image: url("https://i.pinimg.com/564x/51/e3/c9/51e3c96102b4d29466bdec901847ee65.jpg")
            }

        }

        & .banner2-item3 {
            background-color: #6c39f8;
            height: 350px;
            width: 200px;
            border-radius: 20px;
            padding: 1rem 1.6rem;

            & .raft {
                width: 150px;
                height: 150px;
                background-size: cover;
                border-radius: 15px;
                padding: 0rem 0rem;
                margin: 5rem -0.1rem;
                background-position: center;
                background-image: url("https://i.pinimg.com/564x/d9/03/b7/d903b74b129a613eedd46ac399c3fe99.jpg")
            }
        }

        & .banner2-item4 {
            background-color: #86beff;
            height: 350px;
            width: 200px;
            border-radius: 20px;
            padding: 1rem 4rem;

            & .deatby {
                width: 150px;
                height: 150px;
                background-size: cover;
                border-radius: 15px;
                padding: 0rem 0rem;
                margin: 5rem -2.5rem;
                background-position: center;
                background-image: url("https://i.pinimg.com/564x/9d/c8/4c/9dc84c7cfde98e444f4d7e3345792e8e.jpg")
            }
        }
        
  
    }
}


.motto {
    background-color: darkred;
    height: 50px;
    color: #ffffff;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}



